In [7]:
import pandas as pd

In [8]:
df = pd.concat([
    pd.read_csv('./valid/valid_1.csv'),
    pd.read_csv('./valid/valid_2.csv'),
    pd.read_csv('./valid/valid_3.csv'),
    pd.read_csv('./valid/valid_4.csv'),
    pd.read_csv('./valid/valid_5.csv'),
    pd.read_csv('./valid/valid_6.csv'),
    pd.read_csv('./valid/valid_7.csv'),
    pd.read_csv('./valid/valid_8.csv'),
    pd.read_csv('./valid/valid_9.csv'),
    pd.read_csv('./valid/valid_10.csv'),
])

df['True'] = df.apply(lambda x: 1 if x['label_gt'] == x['label_pr'] else 0, axis=1)
df['msg'] = df.apply(lambda x: str(x['label_gt'])+'->'+str( x['label_pr']), axis=1)
df.head()

,Unnamed: 0,sn,fault_time,label_gt,label_pr,True,msg
0,0,SERVER_25708,2020-07-25 12:44:00,0,0,1,0->0
1,1,SERVER_25766,2020-05-08 06:11:00,0,1,0,0->1
2,2,SERVER_25812,2020-01-31 15:39:00,0,1,0,0->1
3,3,SERVER_25732,2020-05-15 18:24:00,0,2,0,0->2
4,4,SERVER_25733,2020-06-02 18:50:00,0,1,0,0->1

In [9]:
df[['sn', 'fault_time', 'label_gt', 'label_pr', 'True', 'msg']].to_csv('./valid.csv', index=False)

In [10]:
df['True'].value_counts()

1    14294
0     2375
Name: True, dtype: int64

In [12]:
df[df['True']==0]['msg'].value_counts()

0->1    808
1->0    499
2->3    191
2->1    188
1->2    185
3->2    116
3->1    109
2->0     74
0->2     63
3->0     55
1->3     54
0->3     33
Name: msg, dtype: int64

In [13]:
df['label_gt'].value_counts()

2    9343
1    3387
3    2463
0    1476
Name: label_gt, dtype: int64

In [14]:
df[df['True']==0]['label_gt'].value_counts()

0    904
1    738
2    453
3    280
Name: label_gt, dtype: int64

In [37]:
import numpy as np
a = np.array([0, 1, 2, 3, 0, 1, 2, 3])
b = a.copy()

In [35]:
b[(a==0) | (a==1)]
b[a==2] = 1
b[a==3] = 2

In [36]:
b

array([0, 0, 1, 2, 0, 0, 1, 2])

In [38]:
b[(a==0) | (a==1)]

array([0, 1, 0, 1])